root = true
[*.cs]

dotnet_analyzer_diagnostic.category-Style.severity = error

# Here we ignore some rule violations that they are not really important for us
dotnet_diagnostic.IDE0008.severity = silent # Explicit type, not var
dotnet_diagnostic.IDE0011.severity = silent # Add braces
dotnet_diagnostic.IDE0044.severity = silent # Add readonly modifier
dotnet_diagnostic.IDE0090.severity = silent # Use implicit new
dotnet_diagnostic.IDE0300.severity = silent # Use collection expression for array
dotnet_diagnostic.IDE0301.severity = silent # Use collection expression for empty
dotnet_diagnostic.IDE0305.severity = silent # Use collection expression for fluent
dotnet_diagnostic.IDE0028.severity = silent # Collection initialization can be simplified
dotnet_diagnostic.IDE0306.severity = silent # Use collection expression for new
dotnet_diagnostic.IDE0057.severity = silent # Use range operator
dotnet_diagnostic.IDE0058.severity = silent # Expression value is never used
dotnet_diagnostic.IDE0290.severity = silent # Use primary constructor
dotnet_diagnostic.IDE0010.severity = silent # Add missing cases to switch
dotnet_diagnostic.IDE0046.severity = silent # Use conditional expression for return0

# Microsoft .NET properties
csharp_new_line_before_members_in_object_initializers = false
csharp_new_line_before_open_brace = all
csharp_preferred_modifier_order = private, protected, internal, async, file, public, override, sealed, virtual, static, abstract, readonly, extern, unsafe, volatile, new, required:suggestion
csharp_preserve_single_line_blocks = true
csharp_style_var_elsewhere = false:none
csharp_style_var_for_built_in_types = false:suggestion
csharp_style_var_when_type_is_apparent = true:none
csharp_using_directive_placement = inside_namespace:silent
dotnet_style_parentheses_in_arithmetic_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_other_binary_operators = always_for_clarity:none
dotnet_style_parentheses_in_relational_binary_operators = never_if_unnecessary:none

# ReSharper properties
resharper_align_linq_query = true
resharper_align_multiline_binary_expressions_chain = false
resharper_align_multiline_parameter = true
resharper_blank_lines_after_block_statements = 0
resharper_blank_lines_after_start_comment = 0
resharper_blank_lines_around_auto_property = 0
resharper_blank_lines_around_property = 0
resharper_braces_for_foreach = not_required
resharper_braces_for_ifelse = not_required
resharper_braces_redundant = false
resharper_csharp_blank_lines_around_field = 0
resharper_csharp_blank_lines_around_invocable = 0
resharper_csharp_blank_lines_around_region = 0
resharper_csharp_case_block_braces = next_line_shifted_2
resharper_csharp_insert_final_newline = true
resharper_csharp_keep_blank_lines_in_declarations = 100
resharper_csharp_keep_existing_enum_arrangement = false
resharper_csharp_max_line_length = 100
resharper_csharp_remove_blank_lines_near_braces_in_code = false
resharper_csharp_remove_blank_lines_near_braces_in_declarations = false
resharper_empty_string = string_empty
resharper_instance_members_qualify_declared_in = 
resharper_object_creation_when_type_evident = explicitly_typed
resharper_outdent_statement_labels = true
resharper_parentheses_redundancy_style = remove
resharper_parentheses_same_type_operations = true
resharper_place_accessorholder_attribute_on_same_line = false
resharper_place_expr_accessor_on_single_line = true
resharper_place_expr_property_on_single_line = true
resharper_place_simple_embedded_statement_on_same_line = false
resharper_place_simple_initializer_on_single_line = false
resharper_trailing_comma_in_multiline_lists = false
resharper_wrap_before_arrow_with_expressions = true
resharper_wrap_object_and_collection_initializer_style = chop_always
