<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OrtzIRC.Common.Properties.Settings.ircsettingsConnectionString"
      connectionString="data source=C:\Users\Brian\Documents\SVN\OrtzIRC\OrtzIRC\bin\x86\Debug\ircsettings.db"
      providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>