<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="OrtzIRC.Common.Properties.Settings.serversConnectionString" connectionString="data source=C:\Users\Brian\Documents\SVN\OrtzIRC\OrtzIRC\servers.sqlite" providerName="System.Data.SQLite" />
    <add name="serversEntities" connectionString="metadata=res://*/SettingsModel.csdl|res://*/SettingsModel.ssdl|res://*/SettingsModel.msl;provider=System.Data.SQLite;provider connection string=&quot;data source=C:\Users\Brian\Documents\SVN\OrtzIRC\OrtzIRC\servers.sqlite&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>